services:
    mongodb:
        image: mongo
        container_name: ai_agent_mongodb
        environment:
            - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
            - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
            - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
        ports:
            - "27019:27017"
        volumes:
            - mongodb_data:/data/db

volumes:
    mongodb_data:
    